
body {
  padding-top: 70px;
  padding-bottom: 30px;
  margin-right: 0px;
  margin-left: 0px;
}

/* Reset the container */
.container {
  max-width: none !important;
  width: 1070px;
}
.modal-open {
    margin-right: 0px;
}
body .modal-open {
    margin-right: 0px;
}
#main-search {
    width: 300px;
}

#sidebar {
    /*padding-top: 30px;*/
    width: 200px;
}
#main-container {
    padding-top: 30px;
}

/** {*/
  /*-webkit-border-radius: 0 !important;*/
     /*-moz-border-radius: 0 !important;*/
          /*border-radius: 0 !important;*/
/*}*/
