
body {
  padding-top: 70px;
  padding-bottom: 30px;
  margin-right: 0px;
  margin-left: 0px;
}

/* Reset the container */
.container {
  max-width: none !important;
  width: 1070px;
}
.modal-open {
    margin-right: 0px;
}
body .modal-open {
    margin-right: 0px;
}
#sidebar {
    /*padding-top: 30px;*/
    width: 200px;
}
#main-container {
    padding-top: 30px;
}
#invoice-items-list {
    padding-top: 40px;
}
#invoice-totals {
    padding-top: 40px;
}
.editable-click, 
a.editable-click, 
a.editable-click:hover {
    text-decoration: none;
    border-bottom: none !important;
}

/** {*/
  /*-webkit-border-radius: 0 !important;*/
     /*-moz-border-radius: 0 !important;*/
          /*border-radius: 0 !important;*/
/*}*/

/******************
 * GLOBAL STYLES SHARED AMONGST TEMPLATES
 * ***************/

.right-align-td {
    text-align: right;
    padding-right: 30px !important;
}
.spinner-icon {
    margin-top: 60px;
}
#td-spinner {
    margin-top: 0px !important;
}
#td-spinner-wrapper {
    margin-top: 0px;
    position: inherit !important;
}
