#invoice-items-list {
    padding-top: 40px;
}
#invoice-totals {
    padding-top: 40px;
}
.invoice-layout {
    margin-top: -80px;
    width: 900px;
}
.editable-click, 
a.editable-click, 
a.editable-click:hover {
    text-decoration: none;
    border-bottom: none !important;
}
/*#invoice-footer {*/
    /*position:fixed;*/
    /*top:500px;*/
    /*width: 700px;*/
/*}*/
